In [1]:
# load all parameter files and build dataframe

In [23]:
import numpy as np
import pandas as pd
from glob import glob
import os
import sys
from json import load as json_load

In [4]:
# parent directory
path = os.path.abspath(os.path.join(os.path.abspath(''), os.pardir))
sys.path.append(path+'/scripts')

In [18]:
# hashes are saved with 10 characters, hence 10 ?
# is there a better way to do this without regex ?
all_files = glob(f'{path}/data/params_??????????.json')
all_files.sort()

In [32]:
for file_path in all_files:
    with open(file_path,'r') as file:
        json_data = json_load(file)

In [35]:
df = pd.DataFrame([json_data])

In [36]:
df

,R,BN,Lrelative,Ttotal,N,nu,Ltotal,L,sqeps,dx,...,NTsave,viscte,sqdx,cfl_const,dt,nlinear,fkernel,initial_value,scheme,saveformat
0,90000,8,0.125,1.0,256,0.01,1.0,0.125,1.0,0.003906,...,100,0.394784,0.0625,0.1,0.000002,True,zero_forcing,sine_initial,ETD,real